@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100&family=Work+Sans:ital,wght@0,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=Nunito:wght@200&family=Palanquin:wght@100&family=Work+Sans:ital,wght@0,300;0,800;1,900&display=swap');

:root {
  --color-text: hsl(248, 10%, 40%);
  --color-text-muted: hsl(248, 10%, 40%);
  --color-purple: slateblue;
}
html {
  scroll-behavior: smooth !important;
}
.container-top{
  padding-top: 6px;
}
.text-logo {
  color: black;
  font-weight: 900;
  font-size: 37px !important;
}
.logo {
  color: #03A9F4 !important;
  font-family: Work Sans;
  font-weight: bold;
}
.cont-matg {
  margin-top: 30px;
}
.logo-site{
  margin-top: 8px;
}
.js-sticky-header{
  overflow: hidden;
}
.site-wrap{
  overflow: hidden;
}
.cont-matg h2 {
  color: black;
  font-weight: 900;
}
.cont-matg p {
  text-align: justify;
}
.feature-big h2 {
  margin: 0;
  padding: 10px 0;
}
.site-section {
  padding: 3em 0;
}
nav >ul >li >a{
  font-weight: bold;
}
.primary-gradient,
.bg-image2 {
  background-size: 100% 100%;
}
.Prestations{
  color: #03A9F4;
  font-family: Work Sans;
}
.imgTop{
  margin-right:17%;
  width: 522px;
}
.img-children{
  margin-top: 38%;
}
.img-top{
  margin-top: 15%;
  box-shadow: 0px 29px 28px -15px #00000033;
}
.namePhone{
  width: 80%;
  margin-left: 10%;
}
.emailDiv{
  width: 78%;
  margin-left: 11%;
}
.messageDiv{
  width: 78%;
  margin-left: 11%;
}
.text-white{
  color: #03A9F4 !important;
}
.bgInput{
  background-color: #dff6ff;
}
.concept{
  color: #03A9F4 !important;
  font-family: 'Work Sans';
} 
.text-soulition{
  font-family: Palanquin;
}
.text-title{
  font-size: 25px !important;
  color: #687086;
  font-family: Nunito;
}
.votre-text{
  color: #051039;
  font-family: 'Work Sans';
}
.text-right-ul{
  margin-left: 29% !important;
}
.paragraphKar {
  font-weight: bold;
  text-align: justify;
  color: rgba(0, 0, 0, 0.66);
  font-size: 18px;
  font-family: Palanquin;
}
.notreObje{
  margin-top: 6rem !important;
}
.paragraphKar2{
  font-weight: bold;
  font-family: 'Work Sans';
}
.paragraphKar6{
  font-weight: bold;
  color: rgba(0, 0, 0, 0.66);
  font-size: 18px;
  font-family: Palanquin;
}
.paragraph{
  font-weight: bold;
}

.carousel-control-prev-icon {
  background-color: #4285f4;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}
.carousel-control-next-icon{
  background-color: #03a9f4;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}
.carousel-indicators{
  margin-left: 19% !important;
}
.btn-secondary {
  color: #fff;
  background-color: #ffffff;
  border-color: #00b7ff;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #ffffff;
  border-color: #ffffff;
}
a{
  font-weight: bold;
}
.TextHome{
  font-weight: bold;
  font-size: 21px;
  color:rgba(0, 0, 0, 0.66);
  font-family: Palanquin;
}

.py-4{
  padding-top: 0.0rem!important;
}
.mr-auto p {
  margin-bottom: 20px !important;
  text-align: justify;
}
.unit-4:hover .icon-wrap span {
  color: #fff;
}
.unit-4 {
  background: #f1f1f1a1;
}

.bg-white {
  border-radius: 6px;
  
}
hr{
  border-top: 3px solid rgba(0, 0, 0, 0.1) !important;
}
.site-blocks-cover,
.site-blocks-cover > .container > .row {
  height: 100vh;
}
/* font-family: 'montserrat',sans-serif;*/
.cont-img img {
  width: 420px;
}
.cont-img1 img{
  width: 309px;
  margin-top: 42px;
}
.site-section {
  padding: 0;
  margin: 0;
}
.site-section .titre-about,
.site-section .titre-subs {
  padding: 10px 0 0 0;
  margin-bottom: 0;
}
.site-navbar-target {
  padding-bottom: 0 !important;
}

.siler_bottom{
  margin-bottom: 20px;
}

.carousel {
  width: 100%;
}

.slide-box {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .slide-box img {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .slide-box img {
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media (min-width: 992px)
{
  .slide-box img {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 26%;
    padding: 8px
  }
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: .5rem;
}


@media (max-width: 1975px) {
  .img-absolute {
    max-height: 680px !important;
  }
}
@media (max-width: 1775px) {
  .img-absolute {
    max-height: 540px !important;
  }
}
@media (max-width: 1575px) {
  .img-absolute {
    max-height: 480px !important;
  }
}

@media (max-width: 991.98px) {
  .cont-matg {
    margin-top: 40px;
  }
  .section-title {
    font-size: 23px;
  }
  .img-absolute {
    margin-top: 100px;
  }
  .site-navbar .site-logo img {
    height: 50px !important;
  }
  .h3,
  h3 {
    font-size: 2.75rem;
  }
}

@media (max-width: 990px) {
  .site-blocks-cover,
  .site-blocks-cover > .container > .row {
    height: 147vh;
  }
  .aos-animate .img-absoulute {
    margin-top: 87px;
  }
  .feature-big h2 {
    font-size: 25px;
  }
  .bg-light .cont-matg h2 {
    font-size: 25px;
  }
  .site-section {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
  }
  [data-aos="fade-left"] {
    transform: translate(-47px);
  }
  [data-aos="fade-right"] {
    transform: translate(50px);
  }
  .contact-cont {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .site-section {
    padding: 0;
  }
  .site-blocks-cover,
  .site-blocks-cover > .container > .row {
    min-height: 0;
    height: 143vh;
  }
  .feature-big h2 {
    font-size: 35px;
  }
  .site-navbar .site-logo img {
    height: 45px !important;
  }
  .cont-img {
    width: 390px;
    padding: 0;
  }
  .cont-img img {
    width: 390px;
    /* margin-top: 29px; */
  }
  .site-navbar .site-logo img {
    height: 63px !important;
  }
}
@media (max-width: 460px) {
  .img-absolute {
    margin-top: 80px;
  }
  .site-navbar .site-logo img {
    height: 35px !important;
  }
  .cont-img {
    width: 247px;
    padding: 0;
  }
  .mt-trons-respo{
    margin-top: 0rem !important;
  }
  .imgTop{
    margin-right: 0%;
  }
  .site-section {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
  }
  [data-aos="fade-left"] {
    transform: translate(-47px);
  }
  [data-aos="fade-right"] {
    transform: translate(50px);
  }
  [data-aos="fade-up"] {
    transform: translate(50px);
  }
  [data-aos="fade-down"] {
    transform: translate(50px);
  }
  .contact-cont {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .feature-big h2 {
    font-size: 17px;
  }
  .site-blocks-cover .image-home img {
    margin-top: 0;
  }
  .btn-home,
  .btn-about,
  .btn-contact {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .site-navbar .site-logo img {
    height: 63px !important;
  }
}
.form-group{
  margin-bottom: 0rem !important;
}
.form-group-btn{
  margin-bottom: 1rem !important;
}

.footer svg {
  fill: #03A9F4;
}

.footer .sub-title {
  color: rgb(84, 82, 82);
}
.footer {
  padding-top: 20px;
}
.icon-footer{
  font-size: 155%;
  color: #03A9F4;
}
.footer .media {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  padding-top: 18px;
  margin-bottom: 10px;
}
.iti--separate-dial-code{
  width: 100%;
}

.titreCard{
  font-size: 31px !important;
}

.p-according{
  font-weight: bold;
}

.testimotionals .card {
  
  position:relative;
  overflow:hidden;
  margin:0 auto;
  background:#ffffff;
  padding:20px;
  box-sizing:border-box;
  text-align:center;
  
}
.testimotionals .card .layer {
  z-index:1;
  position:absolute;
  top:calc(100% - 2px);
  height:100%;
  width:100%;
  left:0;
  background:linear-gradient(to left , rgb(0, 183, 255), rgb(0, 183, 255));
  transition:0.5s;
  
}
.card{
  height: 100%;
  border: 0px solid rgba(0, 0, 0, 0.125);
  padding: 4px;
}
.textKar{
  padding: 9px;
  color: black;
}
.textKar1{
  color: black;
  padding: 6px;
  margin-bottom: 0.0rem !important;
}
.textKar2{
  color: black;
  padding: 9px;
  margin-bottom: 3.5rem !important;
  background: rgb(223 246 255);
}
.testimotionals .card .content {
  z-index:2; 
  position:relative;
}

.testimotionals .card:hover  .layer{
  top:0;
}
.padding-0{
  padding-right:0;
  padding-left:0;
}
.testimotionals .card .content p {
  font-size:15px;
  line-height:24px;
  color:#808080;
}
.testimotionals .card .content .image {
  width:100px; height:100px;
  margin:0 auto;
  border-radius:50%;
  overflow:hidden;
  border: 4px solid white;
 
}
.div-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.textNone{
  display: none;
}
.ntbNone{
  display: none;

}
.btn-with{
  width: 60%;
  margin-left: 19%;
}
.testimotionals {
height: 100%;
}
.testimotionals .card:hover .content p {
  display: block;
  color: white;
  position: relative;
  font-weight: bold;
}

.testimotionals .card:hover  button {
  z-index: 2;
  position: relative;
  display: block;
}
.testimotionals .card:hover .content h2  {
  display: none;
}
.testimotionals .card:hover .content .image {
 display: none;
}

.testimotionals .card .conte nt .details h2 {
font-size:18px;
color:white;
}
.testimotionals .card .content .details h2 span {
font-size:15px;
color:#687086;
  transition:0.5s;
  font-family: Nunito;
}
.testimotionals .card:hover .content .details h2 span {
  color:white;
  position:relative;
  display: none !important;
}
.img-somme{
  margin-top: 30px;
}
.whatsapp{
  z-index: 998;
  left: 92%;
}
.icon-chat{
  font-size: 43px !important;
    background-color: #01aaf8;
    padding: 10px;
    border-radius: 50%;
    color: white;
    margin-right: 14px;
}
.text-confiance{
 margin-left: 25%;
 font-family: Work Sans;
 font-size: 20px;
}
.mt-section-5{
  margin-top: 5rem;
}
.text-confiance2 {
  display: flex;
  text-align: center;
  line-height: 196%;
  /* font-weight: bold; */
  font-size: 17px;
  padding: 25px;
}
.text-engagement{
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-family: Work Sans;
  margin-top: 8%;
}
.text-engagement1{
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-family: Work Sans;
  margin-top: 8%;
}
.text-engagemen2{
  display: flex;
  text-align: center;
  line-height: 200%;
  font-size: 17px;
  padding: 19px;
}
.text-engagemen3{
  display: flex;
  text-align: center;
  line-height: 196%;
  padding: 19px;
  font-size: 17px;
}
.mt-trons{
  margin-top: 7rem;
}
.cont-img{
  width: 400px;
}
.text-confiance-respo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-confiance-respo2{
  display: flex;
  text-align: center;
  font-weight: bold;
}
.text-capable-respo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-capable-respo1{
  display: flex;
  text-align: center;
  font-weight: bold;
}
.text-analyse-respo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-analyse-respo1{
  display: flex;
  text-align: center;
  font-weight: bold;
}
.mb-5, .my-5 {
  margin-bottom: 5rem!important;
}
.btn-center{
  text-align: center;
}
.mt-desctop{
  margin-top: 4rem !important;
}
.mb-desctop{
  margin-bottom: 8rem !important;
}
.mrt-desctop{
  margin-top: 11rem !important;
}
.mrb-desctop{
  margin-bottom: 3rem !important;
}
.mtsection{
  margin-top: 5rem !important;
}
.version-beta{
 /* margin-left: 50%; */
 margin-top: 10px;
}
.version-beta-mobile{
  display: none;
  width: 45px;
  margin-left: 3px;
  margin-top: 12px;
}
.btn-mobile{
  font-size: 12px !important;
  border-radius: 16px;
  padding: 0px 10px;
}
.text-encours{
  text-align: center;
}
.btn-danger {
  color: #fff;
  background-color: #c91d12;
  border-color: #c91d12;
}
.accordion {
  padding: 1.2rem 0;
  border-radius: 1rem;
  background: white;
/*   box-shadow: 0 0 5rem lightgrey; */
}

.accordion__heading {
  margin-bottom: 1rem;
  padding: 0 1.4rem;
}

.accordion__item:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}

.accordion__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.2rem 0.9rem;
  background: white;
  border: none;
  outline: none;
  color: var(--color-text);
  font-size: 1.2rem;
  text-align: left;
  cursor: pointer;
  transition: 0.1s;
}
.accordion__btn:hover {
  color: #4285f4;
  background: hsl(248, 53%, 97%);
}

.accordion__item--active .accordion__btn {
  color: #4285f4;
  border-bottom: 2px solid #4285f4;
  background: hsl(248, 53%, 97%);
  font-weight: bold;
}


.fa-lightbulb {
  padding-right: 1rem;
}
.accordion__icon {
  border-radius: 50%;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
  opacity: 0.9;
}
.accordion__item--active .accordion__icon {
  transform: rotate(135deg);
}
.btn-ecour{
  font-size: 12px !important;
  font-weight: bold;
  color: white !important;
}
.accordion__content {
  font-weight: 300;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  color: var(--color-text-muted);
  transform: translateX(16px);
  transition: max-height 0.5s ease, opacity 0.5s, transform 0.5s;
}
.accordion__content p {
  padding: 1rem 1.8rem;
  font-weight: bold;
  background-color: rgb(223 246 255);
}

.accordion__item--active .accordion__content {
  opacity: 1;
  transform: translateX(0px);
  max-height: 100vh;
}
.contentFlex:hover{
  display: flex;
}
.cardFlex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-more{
  display: none;
}
.btn-more:hover{
  display: block;
}
@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.5;}
}
.blink{
  color: #4687f4;
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}
.button-car {
  margin-top: 38%;
  background-color: #03A9F4;
  height: 50px;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 30px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 20px;
  -webkit-transition: background-color 250ms 0s ease;
  transition: background-color 250ms 0s ease;
}
a{
text-decoration: none;
}
#become {
position: relative;
padding-bottom: 40px;
overflow: hidden;
}

@media (min-width: 992px) {
#become {
  padding-bottom: 180px;
  margin-top: 100px;
}
}

#become .container {
position: relative;
z-index: 1;
}

.become-card {
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 430px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
padding: 30px 40px;
text-align: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
margin-bottom: 30px;
opacity: 0;
-webkit-transform: translateY(100px);
        transform: translateY(100px);
overflow: hidden;
}

@media (min-width: 992px) {
.become-card {
  height: 620px;
  padding: 60px;
  margin-bottom: 0;
}
.become-card p {
  padding: 0 70px;
}
.become-card .button {
  height: 64px;
  width: 254px;
}
.becomes-bg {
  height: 460px;
}
.section-block-tablet{
  display: block;
}
}
.img-9{
  width: 300px !important;

}
.becomes-bg {
position: absolute;
left: 0;
right: 0;
bottom: 0;
background-color: rgb(223 246 255);
height: 240px;
z-index: 0;
opacity: 0;
-webkit-transform: translateY(300px);
        transform: translateY(300px);
}
@media (min-width: 1200px){
  .section-block-tablet{
    display: none !important;
  }
}
@media (min-width: 426px) and (max-width: 1200px) {

.section-non{
  display: none !important;
}

}

@media (max-width: 770px){
  .flex-responsive{
    display: inline !important;
  }
  .nb-center{
    display: flex;
    justify-content: center;
    margin-left: 0px !important;
  }
  .countClass{
    font-size: 35px !important;
  }
  .hrRspo{
    display: block !important;
    width: 70%;
  }
  .nb-center-1 {
    margin-left: 20%;
    display: flex;
    justify-content: center;
    margin-left: 0px !important;
}
}
#become .container {
position: relative;
z-index: 1;
}
.title-card{
  font-weight: 600;
  color: white;
  margin-top: 15%;
}
.text-home{
  color: #051039;
  font-family: 'Work Sans';
  font-size: 52px !important;
}
.countClass{
    font-size: 56px;
    font-weight: bold;
    width: 100%;
    line-height: 56px;
    color: #1a237e;
    font-family: "GT Pressura Regular","DIN Next W06 Regular",Arial;
}
.reserve-btn{
  background-color: #FF8303 !important;
  border-color: #FF8303 !important;
}
.Trajets{
  margin-left: 30px;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: gray;
}
.Client{
  margin-left: 6px;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: gray;
}
.satisfaction{
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-left: -35px;
  color: gray;
}
.img-icone{
  margin-top: 15px;
  margin-left: 8px;
}
.img-icone1{
  margin-top: 10px;
}
.img-parking{
  width: 75%;
  margin-left: 1px;
  margin-top: 11px;
}
.img-10{
  width: 330px !important;
}
.img-icone2{
  margin-top: 14px;
  width: 60px;
}
.img-icon3{
  margin-top: 21px;
  margin-right: 4px;
}
.section-block{
  display: none !important;
}
.section-block-tablet{
  display: none;
}
.roundedStar{
  display: none !important;
}

.hrRspo{
  display: none !important;
}
.textRespo{
  display: block !important;
}
.text-count-respo{
  display: none !important;
}
@media (max-width: 768px){
  .logo-site-respo{
    margin-left: -12%;
  }
  .section-block-tablet{
    display: none;
  }
  .version-beta{
    display: none;
  }
  .version-beta-mobile{
    display: block;
  }
  .paragraphKar{
    font-size: 17px;
  }
  .mb-3-respo{
    margin-bottom: 1rem !important;
  }
  .mt-mobile{
    margin-top: 0rem !important;
  }
  .img-children{
    margin-top: 0%;
  }
  .mb-mobile{
    margin-bottom: 2rem !important;
  }
  .section-block-tablet{
    display: none !important;
  }
  .hr-respo{
    display: none;
  }
  .img-slider-respo{
    width: 100%;
  }
  .img-encour {
    width: 110% !important;
    margin-left: -6% !important;
}
  .whatsapp{
    z-index: 9999;
    left: 80%;
  }
  .chat_icon{
    right: 3px !important;
  }
  /* .version-beta{
    display: none;
  } */
  
  /* .paragraphKar{
    display: block !important;
  } */
  /* .img-top-somme{
    margin-top: 30px;
  } */
  .flexRespo{
    display: inline !important;
  }
  .emailDiv {
    width: 100%;
    margin-left: 0%;
 }
 .messageDiv {
  width: 100%;
  margin-left: 0%;
}
  .progress-container {
    width: 111% !important;
    height: 3px !important;
    background: #ccc;
    margin-left: -6% !important;  
  }

  .nb-center-1{
    margin-left: 20%;
    display: flex;
    justify-content: center;
    margin-left: 0px !important;
  }
  .margin-bottom-card{
    margin-bottom: 3rem;
  }
  .text-count-respo{
    display: block !important;
  }
  .notreObje{
    margin-top: 1rem !important;
  }
  .text-logo{
    font-size: 28px !important;
  }
  .text-home{
    font-size: 31px !important;
  }
  .button-car{
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .mt-section-5-respo{
    margin-top: 0rem !important;
  }
  .mtsection {
    margin-top: 1rem !important;
}
  .mr-auto p{
    margin-bottom: 2rem !important;
  }
  .mrb-mobile{
    margin-bottom: 0rem !important;
  }
  .textKar{
    padding: 0px  ;
  }
  .textKar1{
    padding: 0px;
  }
  .textKar2{
    padding: 5px;
  }
  .mb-5-respo{
    margin-bottom: 0rem !important;
  }

  .hrRspo{
    display: block !important;
    width: 70%;
  }

  .TextHome{
    font-size: 22px
  }
  .feature-big h2{
    padding: 10px 0;
  }
  .textRespo{
    display: none !important;
  }
  .section-block{
    display: block !important;
  }
  .roundedStar{
    display: block !important;
  }
  .section-non{
    display: none !important;
  }
  .roundedSerStart{
    display: none !important;
  }
  .testimotionals .card .content p{
    font-size: 12px;
  }
  /* .testimotionals {
    margin-left: 19px;
    margin-top: 10px;
  }    */
  .container-responsive{
    overflow: hidden !important;
  }
  .container-top{
    margin-top: 0px;
  }
  .mt-5{
    margin-top: 0rem !important;
  }
  .img-logo-respo{
    margin-left: -55px;
  }
}
@media (min-width: 769px) and (max-width: 1025px){
.whatsapp{
  z-index: 9999;
  left: 93%;
}
.chat_icon{
  right: -3px !important;
}
}
 @media (min-width: 426px) and (max-width: 768px) {
  .version-beta {
    /* margin-left: 458%; */
    margin-top: 10px;
}
.whatsapp{
  z-index: 9999;
  left: 90%;
}
.chat_box{
  width: 390px !important;
  right: 20px !important;
}
}
@media (max-width: 376px){
  .testimotionals{
    margin-left: -7px;
    margin-top: 10px;
  }
  .titreCard {
    font-size: 29px !important;
}
.chat_box{
  width: 344px !important;
  right: 15px !important;
}
}
@media (max-width: 321px){
  
  .chat_box{
    width: 305px !important;
    right: 8px !important;
  }
  .testimotionals {
    margin-left: -24px;
  }  
  .version-beta-mobile{
   
    width: 31px;
    margin-left: 8px;
  }
  .testimotionals .card{
    width: 300px;
    margin-top: 10px;
  }
  .testimotionals .card .content p{
    font-size: 12px;
  }
  .titreCard {
    font-size: 24px !important;
}
.text-confiance-respo{
  margin-left: 8%;
}
.text-capable-respo {
  margin-left: 6%;
}
.text-analyse-respo {
  margin-left: 3%;
  font-size: 14px;
}
}
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

.header h2 {
  text-align: center;
}

.progress-container {
  width: 105%;
  height: 3px;
  background: #ccc;
  margin-left: -4%;
}

.progress-bar {
  height: 3px;
  background: #03A9F4;
  width: 0%;
}
a:hover {
  transform: translateY(-4px);
  transition: 0.3s;
}
.img-icone-driver{
  width: 89%;
  margin-top: 0!important;
  margin-left: 3px;
}
.p-h2-card{
  padding: 0px 0 !important;
}
.notificationSite {
  margin-left: 36%;
  background: #2563eb;
  color: white;
  border-radius: 5px;
  padding: 15px 10px;
  margin-bottom: 10px;

  position: fixed;
  top: 80px;
  /* Set to 0 or wherever */
  width: 35%;
  /* set to 100% if space is available */
  z-index: 105;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  display: none;
}
.img-encour{
  width: 40%;
  margin-left: 30%;
}
.text-encour{
  text-align: center;
  margin-bottom: 3rem! important;
}
/*ChatBot*/
.chat_icon{
	position: fixed;
	bottom: 0;
	right: 40px;
	z-index: 1000;
	padding: 0;
	font-size: 80px;
	color: black;
	cursor: pointer;
}
.chat_box{
	width: 400px;
	height: 80vh;
	position: fixed;
	bottom: 100px;
	right: 30px;
	background:#dedede;
	z-index: 1002;
	transition: all 0.3s ease-out;
	transform: scaleY(0);
}
.chat_box.active{
	transform: scaleY(1);
}
#messages{
	padding: 20px;
}
.my-conv-form-wrapper textarea{
	height: 30px;
	overflow: hidden;
	resize: none;
}
.hidden{
	display: none !important;
}
/*ChatBot*/
.chat_icon{
	position: fixed;
	bottom: 0;
  
	right: 70px;
	z-index: 1000;
	padding: 0;
	font-size: 80px;
	color: black;
	cursor: pointer;
}
.chat_box{
	width: 400px;
	height: 80vh;
	position: fixed;
	bottom: 100px;
	right: 30px;
	background:#dedede;
	z-index: 10000;
	transition: all 0.3s ease-out;
	transform: scaleY(0);
}
.chat_box.active{
	transform: scaleY(1);
  border-radius: 25px;
}
#messages{
	padding: 20px;
}
.my-conv-form-wrapper textarea{
	height: 30px;
	overflow: hidden;
	resize: none;
}
.hidden{
	display: none !important;
}


.text-logo {
  padding-top: 115px;
}


.section-title {
text-align: center;
margin-bottom: 60px;
}

.section-borders span {
height: 5px;
background: #6aaf08;
width: 40px;
display: inline-block;
border-radius: 2px;
}

.section-borders span.black-border {
background: #333;
width: 30px;
margin: 0 6px;

}

.client-testimonial-carousel .owl-dots button {
height: 5px;
background: #dff6ff !important;
width: 20px;
display: inline-block;
margin: 5px;
transition: .2s;
border-radius: 2px;
}

.client-testimonial-carousel button.owl-dot.active {
background: #03a9f4 !important;
width: 30px;
}

.client-testimonial-carousel .owl-dots {
text-align: center;
margin-top: 25px
}

.single-testimonial-item {
position: relative;
box-shadow: 0 0 2px #dadfd3;
margin: 2px;
padding: 10px;
font-style: italic;
padding-left: 75px;
height: 320px;
display: flex;
align-items: center;
}

.single-testimonial-item:before {
font-family: "Font Awesome 5 Free";
content: "\f10e";
font-weight: 900;
position: absolute;
left: 20px;
top: 50%;
font-size: 20px;
color: #03a9f4;
line-height: 30px;
margin-top: -15px;
}

.single-testimonial-item:after {
background: #ddd;
content: "";
height: 70%;
left: 60px;
position: absolute;
top: 10%;
width: 1px;
}

.single-testimonial-item h3 {
font-size: 20px;
font-style: normal;
margin-bottom: 0;
font-weight: bold;
color: #03a9f4;
}

.single-testimonial-item h3 span {
display: block;
font-size: 12px;
font-weight: normal;
margin-top: 5px;
}
.mt-30{
margin-top: 30px;
}
.p-commt{
  line-height: 25px;
}
